@import "variables";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: darkgrey;
  font-family: $primary-font-family;

  margin: 0;
  padding: 0;

  .container {
    height: 100vh;
  }

  .black {
    background: $black-theme-background-color;
    color: $black-theme-text-color;
  }
}