@import "modules/_variables";

.details {
  margin: 10px;
  padding: 10px;
  background-color: $secondary-color;
  border-radius: 20px;

  .temperature {
    color: $primary-color;
    font-size: 26px;
  }

  .precipitation-probability {
    color: $primary-color;
    font-size: 21px;
  }

  .visibility {
    color: $primary-color;
    font-size: 21px;
  }
  .wind-speed {
    color: $primary-color;
    font-size: 21px;
  }
  .risk {
    color: #ff7841;
    font-size: 21px;
  }
}