@import "modules/_variables";

.timeline {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;

  .card {
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 123px;
    border-radius: 20px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
    border: 2px solid $secondary-color;

    .temperature {
      color: $primary-color;
      font-size: 21px;
    }

    &.active {
      border: 2px solid #333;
    }
  }
}